.rel {
  position: relative;
}

.fade-enter-active {
  transition: opacity .9s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.selector-box {
  outline: solid 1px rgb(214, 214, 214);
  -moz-outline-radius: 25px;
  -webkit-outline-radius: 25px;
}

.selector-box:hover {
  outline: solid 2px #F4BD19;
  -moz-outline-radius:25px;
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.minH {
  min-height: 500px;
}

input {
  padding: 10px; 
  text-align: center;
  text-decoration: none;
  background: none;
  border: none;
  outline: solid 1px rgb(214, 214, 214);
  -moz-outline-radius:25px;
}

input:focus {
  text-decoration: none;
  background: none;
  outline: solid 2px #F4BD19;
  -moz-outline-radius:25px;
}

.btn-empty {
  padding: 10px; 
  text-align: center;
  text-decoration: none;
  background: none;
  border: none;
  outline: solid 1px rgb(214, 214, 214);
  -moz-outline-radius:25px;
  display: inline-block;
}

.btn-yellow {
  padding: 5px 25px; 
  text-align: center;
  color: white;
  background: #F4BD19;
  border: none;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.btn-yellow:hover {
  color: black;
}

.btn-empty:hover {
  text-decoration: none;
  background: none;
  outline: solid 2px #F4BD19;
  -moz-outline-radius:25px;
  font-weight: bold;
}

.yellow-bg {
  outline: solid 2px #F4BD19;
  font-weight: bold;
}

.yellow-12 {
  background-color: #F4BD19;
  border-radius: 20px;
  font-weight: bold;
}

.yellow {
  color: #F4BD19;
}

.white {
  color: white !important;
}

.bold {
  font-weight: bold;
}

.light-grey {
  color: rgb(214, 214, 214);
}

.scrollable-menu {
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
}

.nav {
  position: absolute;
  bottom: 0;
  left: 0;
}

.present {
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 20px;
}

.btn-big {
  padding: 10px; 
  text-align: center;
  text-decoration: none;
  background: none;
  border: solid 3px white;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 20px;
  display: inline-block;
}

.black {
  color: black;
}

p, h1, h2, h3, h4, h5, h6 {
  color: black !important;
}